<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>5 Main Edge Detection and Automatic Color Detection</title>
    <style>
        img {
            height: 200px;
            width: 200px;
        }
    </style>
</head>

<body>
    <h1>5 Main Edge Detection and Automatic Color Detection</h1>

    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>

        <label for="contrast">Contrast</label>
        <input type="range" name="contrast" min="0" max="2" step="0.1" value="1" id="contrast">
        <span id="contrastValue">1</span>

        <label for="brightness">Brightness</label>
        <input type="range" name="brightness" min="0" max="2" step="0.1" value="1" id="brightness">
        <span id="brightnessValue">1</span>

        <label for="saturation">Saturation</label>
        <input type="range" name="saturation" min="0" max="2" step="0.1" value="1" id="saturation">
        <span id="saturationValue">1</span>

        <input type="submit" value="Submit">
    </form>

    {% if original %}
    <img src="{{ url_for('static', filename='uploads/'  + original) }}">
    <img src="{{ url_for('static', filename='uploads/' + roberts_edge) }}">
    <img src="{{ url_for('static', filename='uploads/' + sobel_edge) }}">
    <img src="{{ url_for('static', filename='uploads/' + prewitt_edge) }}">
    <img src="{{ url_for('static', filename='uploads/' + laplacian_edge) }}">
    <img src="{{ url_for('static', filename='uploads/' + canny_edge) }}">
    <img src="{{ url_for('static', filename='uploads/' + color_corrected) }}">
    <img src="{{ url_for('static', filename='uploads/' + corrected_color) }}">
    {% endif %}

    <script>
        document.getElementById('contrast').oninput = function () {
            document.getElementById('contrastValue').innerHTML = this.value;
        }
        document.getElementById('brightness').oninput = function () {
            document.getElementById('brightnessValue').innerHTML = this.value;
        }
        document.getElementById('saturation').oninput = function () {
            document.getElementById('saturationValue').innerHTML = this.value;
        }
    </script>
</body>

</html>