<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DIGIMAP Final Project</title>
  <link rel="stylesheet" href="static/styles.css" />
  <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
  <header>
    <h1>DIGIMAP Final Project</h1>
  </header>

  <div class="sidebar">
    <div class="color-correction-container">
      <h2>Color Correction</h2>
      <div class="color-correction-sliders">
        <label for="rgbSlider">RGB:</label>
        <input type="range" id="rgbSlider" min="0" max="1" step="0.01" value="0" />
        <label for="contrastSlider">Contrast:</label>
        <input type="range" id="contrastSlider" min="-2" max="2" step="0.01" value="0" />
        <span class="slider-value" id="contrastValue">0</span>
        <label for="brightnessSlider">Brightness:</label>
        <input type="range" id="brightnessSlider" min="-2" max="2" step="0.01" value="0" />
        <span class="slider-value" id="brightnessValue">0</span>
        <label for="saturationSlider">Saturation:</label>
        <input type="range" id="saturationSlider" min="-2" max="2" step="0.01" value="0" />
        <span class="slider-value" id="saturationValue">0</span>
      </div>
    </div>
  </div>

  <section class="upload-section">
    <h2>Original Image</h2>
    <input type="file" id="imageInput" name="image-input" accept="image/png, image/jpeg" onchange="previewImage(event)">
    <img src="" id="imagePreview">
  </section>

  <section class="preview-section">
    <h2>Color Corrected Image</h2>
    <img src="" id="ccPreview">
    <button id="ccButton">Download Color Corrected Image</button>
  </section>

  <section class="preview-section">
    <h2>Edge Detected Image</h2>
    <img src="" id="edPreview">
    <button id="edButton">Download Edge Detected Image</button>
  </section>

  <script src="static/scripts.js"></script>

</body>

</html>