@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    padding: 25px 0;

    background-color: #333;

    color: #fff;
    text-align: center;
}

h2 {
    margin: 25px 0;
}

section {
    position: relative;

    margin: 25px 0;

    text-align: center;
}

img {
    display: block;

    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;

    margin: 0 auto 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    background-color: #333;

    font-size: 16px;
    color: #fff;

    transition: 500ms;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

button:focus {
    outline: none;
}

.sidebar {
    position: fixed;
    top: 90px;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;
    max-width: 250px;
    padding: 25px;

    background-color: #f2f2f2;
}

.color-correction {
    margin: 25px 0;

    text-align: center;
}

.input input[type="file"] {
    width: 225px;
    max-width: 225px;
    margin: 25px auto;

    text-align: center;

    overflow: hidden;
}

.input label {
    display: block;
    margin: 25px 0 10px 0;

    font-weight: bold;
}

.input input[type="range"] {
    width: calc(125% - 75px);
    margin-bottom: 5px;
    -webkit-appearance: none;
    height: 10px;
    background-color: #ddd;
}

.input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3px;
    height: 15px;
    background-color: #333;
    border-radius: 0;
    cursor: pointer;
}

.slider-value {
    display: block;

    text-align: center;
}

.input input[type="submit"] {
    display: block;

    margin: 25px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    background-color: #333;

    font-size: 16px;
    color: #fff;

    transition: 500ms;
    cursor: pointer;
}

.input input[type="submit"]:hover {
    background-color: #555;
}

.input input[type="submit"]:focus {
    outline: none;
}